#container_entete_actu {
  width: 100%;
  height: 60%;
  display: flex;
  background-image: url(../annex/images/actu/actu6.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#titre_entete_actu {
  margin: auto;
  text-align: center;
}

/* style du corps princapal de la page actualité */
#corps_actu {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.actu{
  display:flex;
  flex-direction: column;
  width: 100%;
}
/* style qui gère chaque section d'actualité, inclus un zoom */
.actualite {
  width: 89%;
  margin: 2.5% 5% 2.5% 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--fond_color);
  align-items: center;
  justify-content: space-between;
}

.actualite img{
  margin:auto;
  padding: 1%;
}




.bref_actu {
  width: 70%;
  padding: 1em;
  background-color: var(--fond_color);
}

/* emplacement pour les photos dans chaque section d'actualité */


.tailleimg{
  max-width: 96%;
  height: auto;


}
