* {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}


html,
body {
    width: 100%;
    height: 100%;
}

h1{
    margin-bottom: 1%;

}

h4{
    color: var(--tertiary_color);
    font-weight: 400;
    font-size:3em;
}
h3 {
    font-weight: 500;
    color: white;
}

#retour_acc{
    position: absolute;
    width: 3%;
    padding: 3%;
    fill: var(--tertiary_color);
}

#title_admin {
    width: 100%;
    height: 20%;
    background-color: var(--primary_color);
    text-align: center;
    padding: 3% 0 3% 0;
}

/*la box admin contient les 3 box */
#box_admin {
    display: flex;
    flex-direction: row;
    background-color: var(--primary_color);
    width: 100%;
    padding: 5% 0 5% 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

#box_admin div {
    width: 30%;
    flex-direction: column;
}

.taille {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}

.taille_sigle{
    width: 10%;
}

/*
Format responsive*/
@media (max-device-width: 460px) {

    /*format téléphone*/
    * {
        overflow-y: visible;
    }

    #title_admin {

        font-size: 2em;
        margin: auto;
    }


    #box_admin div {
        width: 100%;
        flex-direction: column;
    }

    #box_admin div h3 {
        color: white;
        font-size: 4em;
    }

    .taille {
        width: 50%;
        padding-bottom: 20%;
    }
}