html, body{
	width:100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

blockquote{
  width:30%;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid var(--secondary_color) ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  content: "\201C";
  color:var(--secondary_color);
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}
table{
	width: 90%;
	margin:auto;
	border-collapse: collapse;
}

td{
	border: solid 1px var(--primary_color);
	padding: 10px 20px 10px 20px;
	text-align: center;
}

th{
	background-color: red;
}

.article-recent{
	display: flex;
	flex-direction: row;
	width: 90%;
	margin:20px 5% 20px 5%;
	background-color: var(--tertiary_color);
	justify-content: space-between;
	flex-wrap: wrap;
}

.box-article-recent{
	display: flex;
	flex-direction: column;
	width: 27%;
}

.title-article-nav{
	font-size: 1.5em;
	font-weight: 600;
	padding: 10px;

}

.header-article{
	display: flex;
	flex-direction:column;
	width: 100%;
}

time{
	padding-left: 20%;
}
.big-title{
	font-size: 3.8em;
	padding: 75px 20% 0 20%;
	
}
.big-title:after {
    content: '—';
    display: block;
    margin-top: -20px;
    color: var(--secondary_color);
}


.separate-article:after{
  content: '';
  display: block;
  width: 80%;
  height: 2px;
  background: var(--primary_color);
  position: absolute;
  margin:0 auto 0 auto;
  text-align: center;
  left: 0;
  right: 0
}


.img-actu{
  max-width: 100%;
  height: auto;
}


.mizenformtxt{
	padding: 3%;
}

#article-contain{
	width: 100%;
  	display: flex;
  	flex-direction: column;
}

.tailleimg{
  max-width: 95%;
  padding-left: 2.5%;
  height: auto;
  margin-bottom: 50px;

}

.contenu_article{
	width: 75%;
	margin-left: calc(25%/2);
	padding: 1%; /*important pour la gestion d'affichage*/
	
}

 .contenu_article li{
	margin-left: 20px;
}


@media (max-device-width: 460px) {

	.big-title{
		padding:2.5%;
	}
	time{
		padding-left: 2.5%;
	}
	.contenu_article{
		width: 95%;
		margin-left: calc(5% / 2);
	}
	

	.article-recent{
		flex-direction: column;
	}
	.box-article-recent{
		width: 80%;
		margin:20px auto 20px auto;
	}
	.img-actu{
  	max-width: 100%;
  	height: auto;
	}


}

@media (min-device-width: 460px) and (max-device-width: 1024px) {

	.contenu_article{
		width: 85%;
		margin-left: calc(15% / 2);
	}
	.box-article-recent{
	display: flex;
	flex-direction: column;
	width: 45%;
}
}