#container_entete_contact {
  width: 100%;
  height: 60%;
  display: flex;
  background-image: url(../annex/images/contact/conseil1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*box de le description de la commanditaire*/
#box_quisuisje {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 2%;
  background-color: var(--fond_color);
  margin-right: auto;
  margin-left: auto;
}

/*text contenu dans le qui suis-je*/
#text_quisuisje {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

/*class pour dimensioner l'image*/
.img_quisuisje {
  width: 200px;

}

#box_prestataire{
	height: auto;
	margin: auto;
}

#titre_entete_contact {
  margin: auto;
  text-align: center;
}

/* Mise en forme du formulaire */

#formulaire_contact {
  background-color: var(--secondary_color);
  padding: 5% 0 5% 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 2%;
  background: white;
  margin-right: auto;
  margin-left: auto;
}
form img {
  width: 40%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}
label {
  margin-bottom: 5px;
}
input {
  outline: none;
  height: 50px;
  border: none;
  border-bottom: var(--primary_color) solid 1px;
  margin-bottom: 20px;
}

textarea {
  height: 300px;
  padding: 2% 1% 2% 1%;
  margin-bottom: 20px;
  resize: none;
}
#titre_entete_contact {
  margin: auto;
  text-align: center;
}

/*honeypot*/
#honey{
  display: none;
}

@media (max-device-width: 460px) {

  form img{display: none;}
}