@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

.okToSend {
  background-color: var(--good);
}
.error {
  background-color: var(--bad);
}


* {
  font-family: "Source Sans Pro", sans-serif;
}

html {
  overflow-x: hidden;
}

h1 {
  padding: 10px 0 10px 0;
  color: var(--primary_color);
  font-size: 3em;
  font-weight: 700;

}

h2 {
  padding: 10px 0 50px 0;
  color: var(--primary_color);
  font-size: 2.2em;
  font-weight: 700;
  overflow-wrap: break-word;
}

.ent :after{
  content: '';
  display: block;
  width: 80px;
  height: 2px;
  background: var(--secondary_color);
  position: absolute;
  margin: 20px auto 0;
  text-align: center;
  left: 0;
  right: 0
}

.ent2 :after{
  content: '';
  display: block;
  width: 80px;
  height: 2px;
  background: var(--secondary_color);
  position: absolute;
  margin: 20px 59% 0;
  text-align: center;
  left: 0;
  right: 0
}

h3 {
  padding: 10px 0 10px 0;
  font-size: 1.7em;
  color: var(--primary_color);
}
time{
  font-weight: 600;
  color: grey;
}


p,
li,
select,
option,
td,
th {
  font-size: 1.1em;
  font-weight: 300;
}
textarea, input, a:active, a:focus{
outline:none;
}

.white {
  color: var(--tertiary_color);
}
.j{text-align: justify;}
th {
  font-weight: 300;
}
p,
li,
select,
option {
  font-size: 1.2em;
  font-weight: 300;
}



.bold {
  font-weight: 400;
}
em {
  font-weight: 400;
  font-style: normal;
}

.no_p {
  padding: 0;
}

.input-none {
  border: var(--secondary_color) 1px solid;
  cursor: pointer;
}

.t-white {
  color: var(--tertiary_color);
  font-size: 3em;
  font-weight: 300;
  background-color: var(--secondary_color);
  padding: 7px;
  border-radius: 3px;
}

/*class pour les différentes sections*/
.section {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto auto 20px auto;
  justify-content: space-between;
  align-items: center;
  background-color: var(--fond_color);
}

/*class primaire*/

.decaleg {
  padding-left: 3%;
}
.centrer {
  text-align: center;
}

strong {
  color: var(--secondary_color);
}
.disp {
  padding: 2%;
}



.a{
text-decoration: none;
color: white} 
.a:hover {
  text-decoration: underline;
  color: #F1F1F1;
}

.normal-a {
  text-decoration: none;
  color: var(--primary_color);
}
.normal-a:hover {
  color: grey;
}

.couleur_primaire {
  color: var(--primary_color);
}

#nom_entreprise {
  font-family: 'Pacifico', cursive;
  font-size: 1.2em;
  font-weight: 400;
  margin-left:-50px;

  color: var(--tertiary_color);
}

#zone_acc p {
  font-size: 1.5em;
  color: var(--tertiary_color);
}
.submit_formulaire {
  display: block;
  font-size: 1.2em;
  font-weight: 300;
  margin-right: auto;
  margin-left: auto;
  width: 10em;
  height: 50px;
  background-color: var(--secondary_color);
  color: var(--tertiary_color);
  text-align: center;
  border: none;
  cursor: pointer;
}

label {
  font-size: 1.2em;
  /*color: var(--secondary_color);*/
  font-weight: 600;
  /*margin: 15px 0 15px 75px;*/
}
input,
textarea {
  font-size: 1.1em;
}

.okToSend,
.error {
  /*top: -20px;*/
  top: -18vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20vh;
  color: white;
  align-items: center;
  z-index: 6;
  opacity: 0;
  animation: CaSenvaEtCaRevient 7s cubic-bezier(1, 0.005, 0.005, 1);
}
.okToSend p,
.error p {
  margin-left: 20px;
}


/*animation*/
/*animation pour la gestion d'erreur - est appelée par les classes okToSend et error*/
@keyframes CaSenvaEtCaRevient {
  from {
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
    transform: translateY(105px);
  }
  100% {
    opacity: 0;
  }
}
/* Style Erreur 404*/

.section404 {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin:auto;
  height: calc(100vh - 14%);
  align-items: center;
}


/*gestion des affichage d'erreur*/

@media (max-device-width: 460px) {
  .okToSend,
  .error {top: -25%;}

}

@media (min-device-width: 460px) and (max-device-width: 1024px) {
  .okToSend,
  .error {top: -25%;}

  }

@media (min-device-width: 1440px) {
   .okToSend,
  .error {top: -22%;}

  }