/* style du footer */
footer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary_color);
  color: var(--tertiary_color);
  justify-content: space-around;
  bottom: 0;
  position: static;
  width: 100%;
}
/* style du "created by" */
#created_by {
  display: flex;
  flex-direction: column;

}
/* Gestion des espaces */
#aboutus,
#created_by,
#quicklinks {
  padding: 2em 0 2em 0;
  width: 27%;
}
footer p, footer div p a{padding: 1.5%; margin:auto; text-align: center;}

#created_by img{
  width: 125px;
  padding: 10px;
}

.white-button {
  color: white;
}

.rzo{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}

.rzo svg{
  width: 50px;
  height: 50px;
}