/*Format basique*/
#container_entete_forma {
  width: 100%;
  height: 60%;
  display: flex;
  background-image: url(../annex/images/formation/formation1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#titre_entete_forma {
  margin: auto;
  text-align: center;
}
body {
  margin: 0em;
}
table {
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.conseils{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin: 20px 0 20px 0; 
}
.box-conseil{
  display: flex;
  flex-direction: column;
  width:34%;
  margin: auto;
  background-color: var(--fond_color);
  padding: 3%;
}

.puce-conseil{color: var(--secondary_color)};

.texte-intern-Part2 {
  margin-left: 10em;
}

/* -- Partie prestations -- */

.intro-formation{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 40px 0 40px 0;
}
.box-intro-formation-l{
  display: flex;
  flex-direction: row;
  width: 57%;
  background-image: url(../annex/images/formation/intro-formation.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3%
}
.box-intro-formation-r{
  display: flex;
  flex-direction: column;
  width: 37%;
  padding: 3%;
}

/* box mère */
.prestations{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 50vh;
  justify-content: space-around;
  align-items: center;
}

.box-prestation{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 20%;
  border: #cfd9e0 solid 1px;
  border-radius: 3px;
}

.box-prestation img, .box-conseil img{
  padding: 20px;
  width: 100px;
  height: 100px;
  margin: auto;
}


.label-prestation{
  display: flex;
  flex-direction: row;
  background-color: var(--secondary_color);
  height: 65px;
  align-items: center;
  
}

.label-prestation p {
  color: white;
  text-align: center;
  margin: auto;
}

td,
th {

  border: 2px solid gray;
  padding: 25px;
  text-align: center;
  width: 10%;
}


/*---------------------------début Partie filtrage--------------------------------------------------------- */
#filtre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#filtre select {
  position: relative;
  background-color: #fff;
  border: #777 1px solid;
  margin:20px;
  min-width: 42%;
  padding: 5px;
  overflow: hidden;
}

select:focus {
  outline: none;
}

.conteneur_select {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.formation,
.lieu {
  text-align: center;
  background-color: var(--fond_color);
  color: var(--primary_color);
  border-radius: 10px;
}

/* tableau formation*/
#resultat {
  width: 90%;
  height: 100%;
  background: var(--tertiary_color);
  text-align: center;
  margin:auto;
  padding: 30px 0 30px 0;
}
thead {
  background-color: var(--secondary_color);
  color: var(--tertiary_color);
}

table,
td,
th {
  border: unset;
}
.colorRes {
  background-color: var(--fond_color);
}
#resultat td,
#resultat th {
  font-size: 1.2em;
  padding: 20px 50px 20px 50px;
}
.reset {
  cursor: pointer;
  background-color: var(--secondary_color);
  color: var(--tertiary_color);
  padding: 12px;
}
.affichagenone{
  display: none;
}
/*-------------------------------fin Partie filtrage----------------------------------------------------- */
@media (max-device-width: 425px) /* Règlage format teléphone */ {

  .intro-formation{
    flex-direction: column;
    width: 100%;
  }
  .box-intro-formation-l{
    display: none;
  }
  .box-intro-formation-r{
    width: 95%;
    margin: auto;
  }
  .prestations,.conseils{
    flex-direction: column;
  }
  .box-prestation{
    width: 75%;
    margin: 20px 0 20px 0;
  }
  .box-conseil{
    width: 85%;
    margin: 20px auto 20px auto;
  }

  /*tableau*/
  
}

@media (min-device-width: 460px) and (max-device-width: 1024px) {
  /*format tablet*/
  .prestations{
    flex-direction: row;
    flex-wrap:wrap;
  }
  .box-prestation{
    width: 40%;
    margin: 20px 0 20px 0;
  }

}

@media (min-device-width: 1400px) /* Règlage format ordinateur moyen */ {
  .PrpForma2 {
    font-size: 1.5em;
    padding: 5% 3% 5% 3%;
  }
}
@media (min-device-width: 2000px) /* Règlage format ordinateur large */ {
  .PrpForma2 {
    font-size: 2em;
  }
  td,
  th {
    font-size: 1.5em;
    padding: 3% 10% 3% 5%;
  }
  #PartAgendaForma {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}

@media (max-device-width: 460px) {

  .conteneur_select {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
  .reset{
    margin-top: 20px;
  }
  #filtre select{
    margin: 0;
  }

  .events-table{
    width: 100%;
  }
  .events-table tr{
    display: flex;
    flex-direction:column;
    margin-bottom: 50px;
  }
  .events-table thead{
    display: none;
  }

  

  #resultat{
    width: 98%;

  }
  #resultat td,
  #resultat th {
    width: 90%;
    padding: 15px;

    text-align: right;
    border-bottom: 1px solid black;
  }
  #resultat th:before{
    content: attr(id);
    float:left;
    color: var(--primary_color);
    font-weight: 600;
  }

}

