* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  width: 100%;
  height: 12%;
  min-height: 75px;
  justify-content: space-between;
  z-index: 5;
  position: sticky;
  top: 0px;
  background-color: var(--primary_color);

}

#box_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  margin-left: 2%;
  justify-content: space-around;
}

/*menu principal en format ordinateur*/
.mainMenu {
  display: flex;
  width: 45%;
  justify-content: space-around;
  align-items: center;
  margin-right: 2%;
}

svg {
  width: 50px;
  height: 50px;
}

.mainMenu a {
  text-decoration: none;
  color: var(--tertiary_color);
  font-size: 1.1em;
  font-weight: 300;
}

/* button rouge formation */
.btn-formation {
  padding: 0.7em;
  background-color: var(--secondary_color);
  color: var(--tertiary_color);
  border-radius: 5px;
}
.btn-formation:hover {
  color: var(--secondary_color);
  background-color: var(--tertiary_color);
}

/* changement de couleur au survol */

.mainMenu a:hover {
  color: var(--secondary_color);
}
