/*Image de background de l'accueil*/
#imageacc {
  width: 100%;
  height: 80vh;
  display: flex;
  background-image: url(../annex/images/accueil/accueil2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*Box qui contient le titre*/
.container-titre {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
  margin: auto;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

/*Bouton d'accueil vers les formations*/
.container-titre a {
  padding: 0.7em;
  background-color: var(--secondary_color);
  color: var(--tertiary_color);
  border-radius: 5px;
  font-size: 1.2em;
}
.container-titre :hover {
  color: var(--secondary_color);
  background-color: var(--tertiary_color);
}

#titre {
  color: var(--tertiary_color);
  font-size: 3.8em;
  font-weight: 300;
}



/*box des dernières actualités*/
#lastactu {
  background-color: var(--primary_color);
  color: var(--tertiary_color);
  /*text-align: center;*/
}


  .box-img{
    width: 60%;
  }

 .tailleimg {
  max-width: 90%;
  padding:5%;
  }

/*Mise en forme*/
.aer {
  margin: 50px 0 50px 0;
}

.j {
  text-align: justify;
}
.m10 {
  margin: 0 10% 0 10%;
}
.m5 {
  margin: 0 5% 0 5%;
}
.m-auto {
  margin-left: auto;
  margin-right: auto;
}
/*box de la description de l'entreprise*/

#ensavoirplus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#lastactu,
#descriptionentreprise {
  width: 100%;
  min-height: 100vh;
  background-color: var(--tertiary_color);
  color: var(--primary_color);
  /* text-align: center;*/
}
#img-entreprise {
  width: 80%;
  height: auto;
  padding-left: 10%;
  margin-bottom: 5%;
}

/*box qui contient les prestations de la commanditaire*/
#box_prestation {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*class pour dimensionner les images à la même échelle*/
.sigle {
  width: 100px;
  height: 100px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 3%;
}
/*
animation de saut pour la class au survol*/
.sigle:hover {
  animation: pop 0.5s;
  cursor: pointer;
}

@keyframes pop {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}

/*box qui contient les différentes images*/
#actu,
#formation,
#contact {
  width: 27%;
  height: 40%;
  text-align: justify;
  padding: 3%;
  background-color: var(--tertiary_color);
  color: var(--primary_color);
}


@media (max-device-width: 460px) {
  /*format téléphone*/
  #img-entreprise{
    display: none;
  }
  .section{
     flex-wrap:wrap;
    flex-direction:column;
  }
  .tailleimg{
    max-width: 90%;
  }

  
}
