html{
	display:flex;
}
body{
	width: 100%;
	height: 100%;
  	background-color: var(--secondary_color);
}

.form-formation{
  padding: 0 0 5% 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 2%;
  background: white;
  margin:auto;
}

label {
  margin-bottom: 5px;
}
input {
  outline: none;
  height: 50px;
  border: none;
  border-bottom: var(--primary_color) solid 1px;
  margin-bottom: 20px;
}

#honey{
  display: none;
}


@media (min-device-width: 460px) and (max-device-width: 1024px) {
  .form-formation form{
    width: 80%;
  }
}
@media (max-device-width: 460px) {
  .form-formation form{
    width: 90%;
  }
}