@media (max-device-width: 460px) {
  /*format téléphone*/

  #icone_burger {
    /*note : l'icone burger est considéré comme un caractère, il fautr donc modifier sa taille par le font size*/
    color: var(--tertiary_color);
    font-size: 1.5em;
    margin-right: 20px;
  }

  #formulaire_contact form {
    width: 85%;
    padding: 4%;
  }

  #logo {
    width: 60px;
    height: 60px;
  }

  p {
    text-align: justify;
    padding: 2%;
  }

  #box_quisuisje {
    flex-wrap: wrap;
    text-align: justify;
  }

  hr {
    padding-bottom: 10%;
    border: none;
  }
  .section {
    flex-direction: column;
  }
  .box_burger {
    display: flex;
    align-items: center;
    font-size: 2em;
  }

  #box_image_accueil {
    display: none;
  }

  header.scroll #icone_burger {
    color: white;
    transition: 0.6;
  }

  #title {
    font-size: 2.5em;
    padding-top: 10%;
  }

  #imageacc {
    height: 110%;
  }

  #zone_acc {
    width: 100%;
  }

  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  .formation_h2 {
    /*rattrapage du titre "Conseil et accompagnement" qui cassé la page à 320px*/
    font-size: 2.2em;
  }
  .submit_formulaire {
    width: 30%;
  }

  #zone_acc p {
    padding: 0 10px 0 10px;
    font-size: 1.5em;
  }

  .mainMenu,
  #nom_entreprise {
    display: none;
  }

  .mainMenu.vasymontrebb {
    display: flex;
    flex-direction: column;
    background-color: var(--primary_color);
    position: absolute;
    width: 80%;
    top: -5px;
    height: 300px;
    transition: 0.8;
    animation: slide 0.8s;
  }

  .mainMenu.vasymontrebb a {
    text-align: center;
    padding: 3%;
    width: 70%;
    color: var(--tertiary_color);
    font-weight: 700;
  }

  #actu,
  #formation,
  #contact,
  #created_by,
  #quicklinks,
  #aboutus {
    width: 100%;
  }

  * {
    overflow-y: visible;
  }

  @keyframes slide {
    0% {
      transform: translate(-300px);
    }

    100% {
      transform: translate(0px);
    }
  }
  
  .filtre {
    width: auto;
    padding: unset;
  }
}

@media (min-device-width: 460px) and (max-device-width: 1024px) {
  /*format tablette*/
  .mainMenu {
    width: 100%;
  }
  #title {
    font-size: 2.5em;
    padding-top: 5%;
  }
  #logo {
    width: 50px;
    height: 50px;
  }
  * {
    overflow-y: visible;
  }

  #formulaire_contact form {
    width: 85%;
    padding: 4%;
  }

 #actu,
  #formation,
  #contact,
  #created_by,
  #quicklinks,
  #aboutus {
    width: 100%;
  }

  #box_prestation #actu,
  #box_prestation #contact{
    text-align: center;
  }
 

  #nom_entreprise {
    display: none;
  }
  .filtre {
    width: auto;
    padding: unset;
  }
  #resultat td,
  #resultat th {
    width: 0.1%;
    font-size: 0.8em;
    padding: 1.2em;
  }
}
@media (min-device-width: 460px) {
  /* format ordi */
  .box_burger {
    display: none;
  }
}

