/* Fichier de variables de styles 
Les variables sont à utiliser pour moduler le site plus rapidement

A UTILISER DANS TOUS LES FICHIER CSS

*/

:root {
  --primary_color: #1f282f;
  --secondary_color: #ef3f42;
  --tertiary_color: white;
  --fond_color: #f5f5f5;
  --good:#2ecc71;
  --bad:#c0392b;
}
