* {
  margin: 0;
  padding: 0;
}
h3 {
  margin-bottom: 5%;
}
html,
body {

  background-color: var(--primary_color);
}

#form_admin {
  padding-top: 10vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-height: 80vh;
  background: white;
  border-radius: 2%;
  margin: auto;
}

form img {
  width: 40%;
  margin:auto;
  padding: 0;
}
label {
  margin: 0 0 0 75px;
}
input {
  outline: none;
  height: 50px;
  margin: 0 75px 20px 75px;
  border: none;
  border-bottom: var(--primary_color) solid 1px;
  margin-bottom: 10%;
}

@media (max-device-width: 460px) {
    #form_admin h3{
      font-size: 2.5em;
    }
   form {
    width:80%; 
   }
   #form_admin input {
    font-size: 2em;
    height: 7.5vh;
    padding: 5px;
   }
  }

@media (min-device-width: 460px) and (max-device-width: 1024px) {
form{
    width: 40%;
  }
}

