* {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}


html,
body {
    width: 100%;
    height: 100%;
}
 

h4{
    color: var(--primary_color);
    font-weight: 400;
    font-size:2em;
}
h3 {
    font-weight: 500;
    color: white;
}



#title_admin {
    width: 100%;
    height: 100%;
    background-color: var(--fond_color);
    text-align: center;
    margin: auto;
}
#title_admin h2,#title_admin h4 {
    margin: auto;
}

/*la box admin contient les 3 box */



/*
Format responsive*/
@media (max-device-width: 460px) {

    /*format téléphone*/
    * {
        overflow-y: visible;
    }

    #title_admin {

        font-size: 2em;
        margin: auto;
    }
    
    #box_admin div {
        width: 100%;
        flex-direction: column;
    }

    #box_admin div h3 {
        color: white;
        font-size: 4em;
    }

    .taille {
        width: 50%;
        padding-bottom: 20%;
    }
}