
.calendrier {
	width: 100%;
	height: calc(100vh - 143px);
	position: relative;
}

.calendrier td{
	padding: 10px;
	border :1px solid #ccc;
	vertical-align: top;
	width: 14.29%;
}

.stringDay{
	font-weight: bold;
}
.intDay{
	font-size: 1.3em;
}
.dejadanslemois .intDay{
	opacity: 0.3;
}

.button_calendrier{
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	font-size: 10px;
	background-color: var(--secondary_color);
	border-radius: 50%;
	position: absolute;
	text-decoration: none;
	right: 30px;
	bottom: 30px;
}

textarea {
  height: 200px;
  width: 500px;
  padding: 2% 1% 2% 1%;
  margin-bottom: 20px;
  resize: none;
  left: 0;
}