*{
	margin: 0;
	padding: 0;
}


/*html, body{
	width: 100%;
	height: 100%;
}*/

header{
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 0.5% 0 0.5% 0;
	background-color: var(--primary_color);
	justify-content: space-around; 
	align-items: center;
}

/*header a div{
	text-align: center;

}*/
.taille_sigle{
    width: 55px;
}

#retour_acc{
    width: 45px;
    fill: var(--tertiary_color);
}

/*Format responsive*/
@media (max-device-width: 460px) {

    /*format téléphone*/
    * {
        overflow-y: visible;
    }

    header{
    	height: 25%;
    }

  a{
  	font-size: 2em;
  }
  .taille_sigle{
    width: 100px;
}
  header div{
	width: 100%;
  }
}