* {
  margin: 0;
  padding: 0;

}

html,body{
  width: 100%;
  height: 100vh;
}

#conteneur_modif {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.list_client{
  padding-left: 50px;
  margin: 25px;
}
.tab_client{
  width: 95%;
  margin: 2.5%;
}


.menu_vertical {
  width: 25%;
  background-color: var(--secondary_color);
  min-height: 100vh;
  }
  
.menu_vertical li {
  margin-left: 10%;
  padding: 1%;
  color: var(--tertiary_color);
  /*list-style: none;*/
}

/*#addb:before{
  content: '+';
}
*/
.zone_modif {
  width: 75%;
  background-color: var(--fond_color);
}

.lien_nav {
  text-decoration: none;
  color: var(--tertiary_color);
}
.lien_nav:hover {
  text-decoration: underline;
}

/*style du tableau pour formation*/
.tab_form {
  width: 95%;
  margin-left: 2.5%;
}
.tab_formtd {
  padding: 1%;
}
table {
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
thead {
  background-color: var(--secondary_color);
  color: var(--tertiary_color);

}

th{

}

th,td{
  padding: 10px;

}
td {
  width: 50px;
  text-align: center;
}
.tailleIcon{
  width: 35px;
}

.hoverArticle:hover {
  background-color: var(--tertiary_color);
}

/* Style formulaire / input */
form {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 2%;
  background: white;
  margin-right: auto;
  margin-left: auto;
}
form img {
  width: 40%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}
label {
  margin-bottom: 5px;
}
input {
  outline: none;
  height: 50px;
  border: none;
  border-bottom: var(--primary_color) solid 1px;
  margin-bottom: 20px;
}
.input-label{

}
.input-file{
  cursor: pointer;
}

textarea {
  height: 300px;
  padding: 10px 1px 2px 1px;
  margin-bottom: 20px;
  resize: none;
}
ul{
  padding-bottom: 5%;
}

.submit_formulaire {
  display: block;
  font-size: 1.2em;
  margin-right: auto;
  margin-left: auto;
  width: 20%;
  height: 50px;
  background-color: var(--secondary_color);
  color: var(--tertiary_color);
  text-align: center;
  border: none;
  cursor: pointer;
}

.sendok {
  display: flex;
  flex-direction: row;
  margin-top: 15%;
  width: 20%;
  padding: 2%;
  background-color: green;
  position: absolute;
  animation: disapear 3s ease;
}
.sendok p {
  text-align: center;
  color: white;
}
/*taille des textareas*/
.sm-textarea{
  width: 100%;
  height: 100px;
}

.gl-textarea{
   width: 100%;
   height: 1000px;
}


@media (max-device-width: 460px) {
  /*format téléphone*/
  * {
    overflow-y: visible;
  }
  #conteneur_modif {
    flex-direction: column;
  }
  .menu_vertical {
    width: 100%;
    min-height: 0vh;
  }
  .zone_modif {
    height: 70%;
    width: 100%;
  }
}
